#infos {
  position: relative;
  margin-top: 2%;
  left: 22%;
  background-color: white;
  opacity: 0.75;
  width: 55%;
  border-radius: 15px;
}

#top {
  text-align: center;
  font-size: 200%;
  opacity: 0.75;
  background-color: white;
  border-radius: 10px;
  padding: 3px;
}

#app {
  margin-top: 3%;
  border-radius: 30px;
  opacity: 0.75;
}

body {
  background-image: url(assets/background.jpg);
  margin: auto;
}